@font-face {
    font-family: "Helvetica";
    src: url("../fonts/Helvetica.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Helvetica";
    src: url("../fonts/Helvetica-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Helvetica";
    src: url("../fonts/Helvetica-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Helvetica";
    src: url("../fonts/Helvetica-Oblique.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica", Arial, sans-serif;
    background: #ffffff;
    color: #003F63;
    font-weight: 400;
}

.main-page {
    width: 100%;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 28px 110px;
    background: transparent;
    z-index: 1000;
    display: flex;
}



.header.scrolled {
    background: #013F5C;
}

.hamburger {
    display: none;
}

.header-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
}

.header-right a {
    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: 0.1em;
}

.header-right a.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 100%;
    height: 2px;
    background: #F37425;
}

.main-body {
    width: 100vw;
}

#tiers {
    width: 100%;
}

.tiers-blue-section {
    background:
        linear-gradient(rgba(1, 63, 92, 0.85), rgba(1, 63, 92, 0.85)),
        url("../images/lines 2.png") top right no-repeat,
        #013F5C;
    padding-top: 100px;
}

.tiers-blue-section .blue-inner {
    padding: 85px 100px 250px 100px;
}

.tiers-blue-section .blue-inner h2 {
    margin: 0 0 10px;
    padding: 0;
    color: #F37425;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
}

.tiers-blue-section .blue-inner h1 {
    margin: 0 0 25px;
    padding: 0;
    color: #fff;
    font-size: 68px;
    line-height: 76px;
    font-weight: 700;
}

.tiers-blue-section .blue-inner h1 span {
    color: #F37425;
}

.tiers-blue-section .blue-inner h3 {
    margin: 0 0 25px;
    padding: 0;
    color: #fff;
    font-size: 22px;
    line-height: 28px;
}

.tiers-blue-section .blue-inner h3 strong {
    font-weight: 700;
}

.tiers-blue-section .blue-inner p {
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.05em;
}

.tiers-blue-section .blue-inner p strong {
    font-weight: 700;
}

.understanding-smart-tiers {
    display: flex;
    width: 100%;
    gap: 25px;
    margin-top: -175px;
    padding: 0 100px 25px;
}

.understanding-smart-tiers-box {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 50px;
    background: #F3F7FB;
    border: 1px solid #D7E3F3;
    border-radius: 15px;
}

.understanding-smart-tiers-box h2 {
    margin: 0 0 30px;
    color: #1D4F9F;
    font-size: 28px;
    line-height: 36px;
    font-weight: 700;
}

.understanding-smart-tiers-box p {
    margin: 0 0 20px;
    font-size: 16px;
    line-height: 24px;
}

.understanding-smart-tiers-box p strong {
    font-weight: 700;
}

.understanding-smart-tiers-box h3 {
    margin: 50px 0 10px;
    color: #1D4F9F;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.ensuring-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ensuring-item {
    display: flex;
    flex: 1;
    gap: 10px;
}

.ensuring-item .icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ensuring-item .info {
    display: flex;
    flex: 1;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
}

.factors-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 30px;
    flex: 1;           /* Takes all remaining space */
}

.factors-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;           /* Share remaining height equally */
    background: #fff;
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
}

/* Hover */

.understanding-smart-tiers-box:hover {
    border: 1px solid #1D4F9F;
    box-shadow: 0 12px 24px 0 rgba(29, 79, 159, 0.12);
}

.smart-function-categories {
    width: 100%;
    padding: 0 100px;
    margin: 0;
}

.smart-categories-block {
    padding: 50px;
    background: #F3F7FB;
    border: 1px solid #D7E3F3;
    border-radius: 15px;
}

.smart-categories-block p {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.05px;
}

.smart-categories-block p strong {
    font-weight: 700;
}

.smart-categories-block .heading-section {
    display: flex;
    gap: 25px;
}

.smart-categories-block .heading-section .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: #1D4F9F;
    border-radius: 15px;
}

.smart-categories-block .heading-section .info {
    display: flex;
    align-items: center;
    color: #1D4F9F;
    font-size: 28px;
    line-height: 36px;
    font-weight: 700;
}

.smart-categories-block .functions-section {
    display: flex;
    gap: 25px;
    padding: 25px 0;
}

.essential-functions,
.scored-functions {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 15px;
    padding: 50px;
    border-radius: 15px;
}

.essential-functions .heading,
.scored-functions .heading {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.essential-functions .heading .icon,
.scored-functions .heading .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 15px;
}

.essential-functions .heading .info,
.scored-functions .heading .info {
    display: flex;
    align-items: center;
    color: inherit;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 0.08px;
    text-transform: uppercase;
}

.essential-functions .heading p,
.scored-functions .heading p {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.08px;
}

.essential-functions .heading p strong,
.scored-functions .heading p strong {
    font-weight: 700;
}

.essential-functions {
    background: #fff;
    border: 1px solid #D7E3F3;
}

.essential-functions .icon {
    background: #1D4F9F;
}

.essential-functions .info {
    color: #1D4F9F;
}

.scored-functions {
    background: #FFF7ED;
    border: 1px solid #F37425;
}

.scored-functions .icon {
    background: #F37425;
}

.scored-functions .info {
    color: #F37425;
}

/* Hover */

.smart-categories-block:hover {
    border: 1px solid #1D4F9F;
    box-shadow: 0 12px 24px 0 rgba(29, 79, 159, 0.12);
}

.essential-functions:hover,
.scored-functions:hover {
    box-shadow: 0 12px 24px 0 rgba(29, 79, 159, 0.12);
}

.important-note-section {
    width: 100%;
    padding: 25px 100px 100px;
}

.note-block {
    width: 100%;
    padding: 50px;
    background: #F3F7FB;
    border: 1px solid #D7E3F3;
    border-radius: 15px;
}

.note-block p {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.05px;
}

.note-block p strong {
    font-weight: 700;
}

.note-block .heading-section {
    display: flex;
    gap: 25px;
}

.note-block .heading-section .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: #1D4F9F;
    border-radius: 15px;
}

.note-block .heading-section .info {
    display: flex;
    align-items: center;
    color: #1D4F9F;
    font-size: 28px;
    line-height: 36px;
    font-weight: 700;
}

.note-block .note-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px 25px;
    margin: 25px 0;
}

.note-block .note-grid .grid-item {
    display: flex;
    gap: 10px;
    height: 45px;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    color: #1D4F9F;
}

.note-block .note-grid .grid-item .icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.note-block .note-grid .grid-item .info {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 0.05px;
}

/* Hover */

.note-block:hover {
    border: 1px solid #1D4F9F;
    box-shadow: 0 12px 24px 0 rgba(29, 79, 159, 0.12);
}

.definitions-section {
    padding: 0 100px;
}

.definitions-section h1 {
    margin: 0 0 10px;
    padding: 0;
    color: #1D4F9F;
    font-size: 44px;
    line-height: 52px;
    font-weight: 700;
    letter-spacing: -0.015px;
}

.definitions-section p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.08px;
}

.definitions-boxes {
    display: flex;
    gap: 24px;
}

.lower-box,
.moderate-box,
.high-box {
    flex: 1;
    margin-top: 50px;
    padding: 50px;
    border-radius: 15px;
}

.high-box:hover,
.moderate-box:hover,
.lower-box:hover {
    box-shadow: 0 12px 24px 0 rgba(29, 79, 159, 0.12);
    transform: translateY(-10px);
}

.lower-box h1,
.moderate-box h1,
.high-box h1 {
    margin: 0 0 25px;
    padding: 0;
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
    letter-spacing: -0.36px;
}

.lower-box h2,
.moderate-box h2,
.high-box h2 {
    margin: 0 0 10px;
    padding: 0;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 0.56px;
    text-transform: uppercase;
}

/* Lower */

.lower-box {
    background: #fff;
    border: 1px solid #D7E3F3;
}

.lower-box h1 {
    color: #1D4F9F;
}

.lower-box h2 {
    color: #F37425;
}

.lower-box p {
    color: #013F5C;
}

/* Moderate */

.moderate-box {
    background:
        linear-gradient(rgba(243, 116, 37, 0.85), rgba(243, 116, 37, 0.85)),
        url("../images/lines 1 (6).png") bottom right no-repeat,
        #F37425;
    border: none;
}

.moderate-box h1,
.moderate-box h2,
.moderate-box p {
    color: #fff;
}

/* High */

.high-box {
    background:
        linear-gradient(rgba(29, 79, 159, 0.85), rgba(29, 79, 159, 0.85)),
        url("../images/lines 1 (6).png") bottom right no-repeat,
        #1D4F9F;
    border: none;
}

.high-box h1,
.high-box h2,
.high-box p {
    color: #fff;
}

.smart-tiers-determined {
    display: flex;
    gap: 10px;
    width: calc(100% - 200px);
    margin: 25px 100px 100px;
    padding: 20px;
    background: #F3F7FB;
    border: 1px solid #D7E3F3;
    border-radius: 15px;
}

.smart-tiers-determined .icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.smart-tiers-determined .info {
    display: flex;
    align-items: center;
    font-size: 14px;
}

#capabilities {
    padding: 100px;
    background: #F3F7FB;
}

#capabilities h2 {
    margin: 0;
    padding: 0 0 10px;
    color: #F37425;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}

#capabilities h1, .supporting-resources{
    margin: 0;
    padding: 0 0 25px;
    color: #1D4F9F;
    font-size: 44px;
    line-height: 52px;
    letter-spacing: -0.015em;
    font-weight: 700;
}

.built-around {
    margin: 0;
    padding: 0 0 10px;
    color: #1D4F9F;
    font-size: 44px;
    line-height: 52px;
    letter-spacing: -0.015em;
    font-weight: 700;
}

/* ===============================
   Summary Table
================================ */

.summary-table {
    width: 100%;
    margin: 50px 0;
    background: #fff;
    border: 1px solid #D7E3F3;
    border-radius: 20px;
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;
}

/* Header */

.summary-table thead th {
    padding: 28px 32px;
    background: #1D4F9F;
    color: #fff;
    text-align: left;
    font-size: 18px;
    font-weight: 700;
    border-right: 1px solid rgba(255, 255, 255, 0.25);
    text-transform: uppercase;
}

.summary-table thead th:first-child {
    border-top-left-radius: 20px;
}

.summary-table thead th:last-child {
    border-top-right-radius: 20px;
    border-right: none;
}

.summary-table tbody td:nth-child(2) {
    padding-top: 30px; /* increase until it visually lines up */
}

/* Body */

.summary-table tbody tr:nth-child(even) {
    background: #F6F9FD;
}

.summary-table tbody tr:nth-child(odd) .feature-icon {
    background: #EEF4FC;
}

.summary-table tbody tr:nth-child(even) .feature-icon {
    background: #FFFFFF;
}

.summary-table tbody td {
    padding: 24px 32px;
    vertical-align: top;
    color: #003F5C;
    font-size: 16px;
    line-height: 1.6;
    border-top: 1px solid #D7E3F3;
    border-right: 1px solid #D7E3F3;
}

.summary-table tbody td:last-child {
    border-right: none;
}

/* Column widths */

.summary-table td:first-child {
    width: 30%;
}

.summary-table td:nth-child(2) {
    width: 38%;
}

.summary-table td:last-child {
    width: 32%;
}

/* Feature */

.feature {
    display: grid;
    grid-template-columns: 44px 1fr;
    align-items: center;
    column-gap: 16px;
}

.feature-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 12px;
}

.feature-icon svg {
    display: block;
    width: 20px;
    height: 20px;
}

.feature-name {
    color: #1D4F9F;
    font-size: 18px;
    line-height: 1.35;
    font-weight: 700;
}

/* Lists */

.summary-table td ul {
    margin: 0;
    padding-left: 20px;
}

.summary-table td li {
    margin: 0;
}

.summary-table td li::marker {
    color: #F37425;
    font-size: 1.2em;
}

.in-detail {
    margin: 100px 0 10px;
    color: #F37425;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 0.56px;
    text-transform: uppercase;
}

.explained-section {
    display: flex;
    margin: 0 0 50px;

}

.explained {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    color: #1D4F9F;
    font-size: 28px;
    line-height: 36px;
    font-weight: 700;
}

.tailoring-head {
    margin: 0 0 10px;
    color: #F37425;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 0.56px;
    text-transform: uppercase;
}

.expand-all {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.expand-all svg {
    transition: transform 0.3s;
}

.expand-all.active svg {
    transform: rotate(180deg);
}

.exp-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    min-width: 170px;
    padding: 10px 20px;
    background: #1D4F9F;
    border-radius: 5px;
    text-transform: uppercase;
}

.exp-button p {
    color: #fff;
}

.accordion {
    margin-bottom: 24px;
    background: #fff;
    border: 1px solid #D7E3F3;
    border-radius: 20px;
}

.key-features {
    width: fit-content;
    height: 45px;
    /*margin-bottom: 30px;*/
    padding: 10px 20px;
    background: #F3F7FB;
    border: 1px solid #D7E3F3;
    border-radius: 10px;
    color: #F37425;
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.key-features span {
    color: #213645;
    font-weight: 400;
}

.accordion-intro {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
}

.accordion-top {
    display: flex;
}

.accordion-top .top-left {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.accordion-top .top-left .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    background: #F3F7FB;
    border-radius: 5px;
}

.accordion-top .top-left .icon svg {
    width: 20px;
    height: 20px;
}

.accordion-top .top-left .info {
    color: #1D4F9F;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 0.08px;
}

.accordion-top .top-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.accordion-top .top-right svg {
    transition: transform 0.3s;
}

.accordion-middle {
    /*margin-bottom: 30px;*/
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.08px;
}

.accordion-expanded {
    display: none;
}

.accordion.active {
    border: 1px solid #1D4F9F;
    box-shadow: 0 12px 24px rgba(29, 79, 159, 0.12);
}

.accordion.active .accordion-expanded {
    display: block;
}

.accordion.active .top-right svg {
    transform: rotate(180deg);
}

.accordion-expanded {
    padding: 30px;
    border-top: 1px solid #D7E3F3;
}

.accordion-expanded p {
    color: #013F5C;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.accordion-exp-inners {
    display: flex;
    gap: 30px;
    margin: 30px 0;
}

.accordion-exp-inners .col {
    flex: 1;
}

.accordion-exp-inners .col .lbl {
    margin-bottom: 15px;
    color: #1D4F9F;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 0.08px;
}

.accordion-exp-inners .col ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 10px;
}

.accordion-exp-inners .col ul ul {
    list-style-type: disc;
    margin-left: 20px;
}

.accordion-exp-inners .col ul li {
    color: #013F5C;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.08px;
}

.accordion-exp-inners .col ul li::marker {
    color: #F37425;
}

.accordion-exp-inners .col > ul > li > ul > li::marker {
    color: #013F5C; /* Change to whatever colour you want */
}

.note {
    width: calc(100% - 60px);
    margin: 30px 0;
    padding: 20px;
    background: #F3F7FB;
    border: 1px solid #D7E3F3;
    border-radius: 15px;
}

.note span {
    color: #F37425;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 0.08px;
}

.note p {
    color: #013F5C;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.08px;
}

#tailoring {
}

.tailoring-heading {
    padding: 100px;
    background: #fff;
}

.tailoring-body-top {
    display: flex;
    gap: 25px;
}

.body-block {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    margin-top: 50px;
    padding: 50px;
    background: #F3F7FB;
    border: 1px solid #D7E3F3;
    border-radius: 15px;
}

.body-block h4 {
    color: #1D4F9F;
    font-size: 28px;
    line-height: 36px;
    font-weight: 700;
}

.body-block p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.08px;
}

.body-block p strong {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 0.08px;
}

.body-block ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 15px;
}

.body-block ul li::marker {
    color: #F37425;
}

.body-block .tailored-functionality {
    display: flex;
    gap: 10px;
}

.body-block .tailored-functionality .icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.body-block .tailored-functionality .info {
    display: flex;
    justify-content: flex-start;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.08px;
}

.line {
    width: 100%;
    height: 1px;
    background: #D7E3F3;
}

.tailored-functionality-block {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* Hover */

.body-block:hover {
    border: 1px solid #1D4F9F;
    box-shadow: 0 12px 24px rgba(29, 79, 159, 0.12);
}

.tailoring-outcomes {
    padding: 100px;
    background: #F3F7FB;
}

.outcomes-body {
    margin: 25px 0 100px;
}

.outcomes-body-inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    margin-bottom: 25px;
}

.outcomes-card {
    display: flex;
    gap: 15px;
    padding: 25px;
    background: #fff;
    border: 1px solid #D7E3F3;
    border-radius: 15px;
}

.outcomes-card .icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.outcomes-card .info {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: -0.08px;
}

.outcomes-card:hover {
    border: 1px solid #1D4F9F;
    box-shadow: 0 12px 24px rgba(29, 79, 159, 0.12);
}

.outcomes-card:hover .icon svg path {
    stroke: #F37425;
}

.resources-include {
    margin: 50px 0 40px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 0.56px;
    text-transform: uppercase;
}

/* Resources */

.resources-inner {
    position: relative;
    z-index: 10;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    margin: -115px 100px 0;
}

.resource-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;

    max-width: 360px;
    /*max-height: 285px;*/
    aspect-ratio: 24 / 19;

    background: #fff;
    border: 1px solid #D7E3F3;
    border-radius: 15px;
}

.resource-card p {
    display: none;
    color: #1D4F9F;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 0.08px;
}

.resource-card:hover {
    border: 1px solid #1D4F9F;
    box-shadow: 0 12px 24px rgba(29, 79, 159, 0.12);
}

.resource-card:hover svg path {
    stroke: #F37425;
}

.resource-card:hover p {
    display: block;
}

#overview .overview-main-body {
    padding: 100px;
}



/* ==========================================================
   Mobile Menu
   ========================================================== */

.mobile-menu {
    position: fixed;
    inset: 0;

    display: none;
    flex-direction: column;

    background: #013F5C;

    z-index: 9999;
}

.mobile-menu.open {
    display: flex;
}

section {
    scroll-margin-top: 100px;
}

/* ==========================================================
   Header
   ========================================================== */

.mobile-menu-header {
    height: 90px;

    background: #013F5C;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 24px;

    flex-shrink: 0;
}

.mobile-menu-logo svg {
    width: 180px;
    height: auto;
}

.mobile-menu-close {
    width: 48px;
    height: 48px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    background: none;
    border: none;
}

.mobile-menu-close svg path {
    stroke: #fff;
}

/* ==========================================================
   Body
   ========================================================== */

.mobile-menu-body {
    flex: 1;

    display: flex;
    flex-direction: column;

    overflow-y: auto;

    -webkit-overflow-scrolling: touch;
}

/* ==========================================================
   Navigation
   ========================================================== */

.mobile-menu-nav {
    flex: 1;

    padding: 0 24px;
}

.mobile-nav-link {
    display: flex;
    align-items: center;

    width: 100%;

    padding: 22px 0;

    text-decoration: none;

    border-bottom: 1px solid rgba(255,255,255,.35);

    transition: .25s;
}

.mobile-nav-number {
    width: 64px;

    margin-left: -15px;

    color: #FFFFFF;

    font-size: 20px;
    font-weight: 300;
    line-height: 26px;

    flex-shrink: 0;
}

.mobile-nav-text {
    color: #FFFFFF;

    font-size: 24px;
    font-weight: 700;
    line-height: 32px;

    letter-spacing: 2.8px;
    text-transform: uppercase;
}

.mobile-nav-link.active .mobile-nav-text {
    color: #F37425;
}

.mobile-nav-link:hover .mobile-nav-text {
    color: #F37425;
}

/* ==========================================================
   Contact Section
   ========================================================== */

.mobile-menu-contact {
    margin-top: auto;

    padding: 40px 24px;

    display: flex;
    flex-direction: column;
    gap: 18px;
}

.mobile-contact-item {
    display: flex;
    align-items: center;
    gap: 20px;

    text-decoration: none;

    color: #FFFFFF;

    font-size: 13px;
    line-height: 18px;
}

.mobile-contact-icon {
    width: 44px;
    height: 44px;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-shrink: 0;

    background: rgba(255,255,255,.9);

    border-radius: 14px;
}

.mobile-contact-icon svg {
    width: 20px;
    height: 20px;
}

/* ==========================================================
   Hamburger Animation
   ========================================================== */

.hamburger.active span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.mobile-menu {
    display: none;
}

.mobile-menu.open {
    display: block;
}

#overview .overview-main-footer {
    position: relative;
    z-index: 1;
    padding: 0 100px;
    background: #013F5C;
    border: 1px solid #013F5C;
}

#overview .overview-main-footer-inner {
    display: flex;
    margin: 170px 0 50px;
    color: #fff;
}

#overview .footer-inner-left {
    display: flex;
    flex: 1;
    justify-content: flex-start;
}

#overview .footer-inner-right {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

#overview .overview-main {
    margin-top: 15px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.08px;
}

#overview .overview-main strong {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 0.08px;
}

/* Footer CTA */

.overview-main-footer-top {
    position: relative;
    z-index: 2;
    margin: 0 100px -120px;
    padding: 50px;
    background: #F3F7FB;
    border: 1px solid #D7E3F3;
    border-radius: 15px;
}

.overview-main-footer-top h4 {
    margin: 0 0 10px;
    color: #F37425;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 0.56px;
    text-transform: uppercase;
}

.overview-main-footer-top h3 {
    color: #1D4F9F;
    font-size: 44px;
    line-height: 52px;
    font-weight: 700;
    letter-spacing: -0.66px;
}

.overview-main-footer-top h3 span {
    color: #F37425;
}

/* ============================
   Tablet
   ============================ */
/* ============================
   Tablet
   ============================ */
@media screen and (min-width: 1001px) and (max-width: 1403px) {

    .header {
        padding: 28px 24px;
    }

    .tiers-blue-section .blue-inner {
        padding: 85px 24px 250px;
    }

    .understanding-smart-tiers {
        padding: 0 24px 25px;
    }

    .smart-function-categories {
        padding: 0 24px;
    }

    .important-note-section {
        padding: 25px 24px 100px;
    }

    .definitions-section {
        padding: 0 24px;
    }

    .smart-tiers-determined {
        margin: 25px 24px 100px;
    }

    #capabilities {
        padding: 24px;
    }

    .tailoring-heading {
        padding: 24px;
    }

    .tailoring-outcomes {
        padding: 24px;
    }

    #overview .overview-main-body {
        padding: 100px 24px;
    }

    #overview .overview-main-footer {
        padding: 0 24px;
    }

    .overview-main-footer-top {
        margin: 0 24px -120px;
    }

    .header-left {
        flex: 1;
    }

    .header-right {
        display: none;
    }

    .hamburger {
        flex: 1;
    }

    .definitions-boxes {
        flex-direction: column;
        margin: 0;
    }

    .moderate-box,
    .high-box {
        margin: 0;
    }

    .outcomes-body-inner {
        grid-template-columns: repeat(3, 1fr);
    }

    .resource-card {
        width: 100%;
        max-width: 450px;
        aspect-ratio: 24 / 19;

    }

    .resources-inner {
        grid-template-columns: repeat(2, 1fr);
        margin: -450px 24px 0;
    }

    .resources-include {
        margin: 50px 0 400px;
    }

    .accordion-exp-inners {
        flex-direction: column;
        gap: 30px;
    }

    .hamburger {
        background-color: transparent;
        border: none;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
    }

    .hamburger svg path {
        stroke: #fff;
    }
}

/* ============================
   Mobile
   ============================ */
@media screen and (max-width: 1000px) {

    .header {
        padding: 28px 24px;
    }

    .header-left {
        flex: 1;
    }

    .header-right {
        display: none;
    }

    .hamburger {
        background-color: transparent;
        border: none;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
    }

    .hamburger svg path {
        stroke: #fff;
    }

    .definitions-boxes {
        flex-direction: column;
        margin: 0;
    }

    .moderate-box,
    .high-box {
        margin: 0;
    }

    .accordion-exp-inners {
        flex-direction: column;
        gap: 30px;
    }

    .tiers-blue-section .blue-inner {
        padding: 85px 24px 900px;
    }

    .understanding-smart-tiers {
        padding: 0 24px 25px;
        flex-direction: column;
        margin-top: -850px;
    }

    .smart-function-categories {
        padding: 0 24px;
    }

    .important-note-section {
        padding: 25px 24px 100px;
    }

    .definitions-section {
        padding: 0 24px;
    }

    .smart-tiers-determined {
        margin: 25px 24px 100px;
    }

    #capabilities {
        padding: 24px;
    }

    .tailoring-heading {
        padding: 24px;
    }

    .tailoring-outcomes {
        padding: 24px;
    }

    .resources-inner {
        margin: -115px 24px 0;
    }

    #overview .overview-main-body {
        padding: 100px 24px;
    }

    #overview .overview-main-footer {
        padding: 0 24px;
    }

    .smart-categories-block .functions-section {
        flex-direction: column;
    }

    .tailoring-body-top {
        flex-direction: column;
    }

    .outcomes-body-inner {
        /*grid-template-columns: repeat(2, 1fr);*/
        display: flex;
        flex-direction: column;
    }

    .resources-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: -500px 24px 0;
    }

    .resources-include {
        margin: 50px 0 505px;
    }

    .overview-main-footer-top {
        margin: 0 24px -120px;
    }

    .resource-card {
        width: 100%;
        max-width: 1000px;
        aspect-ratio: 24 / 19;
        /*max-height: 285px;*/
    }

    .tiers-blue-section .blue-inner h1 {
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 44px; /* 122.222% */
        letter-spacing: -0.36px;
    }

    .note-block .note-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .definitions-section h1, #capabilities h1 {
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 44px; /* 122.222% */
        letter-spacing: -0.36px;
    }

    /*.resource-card svg {*/
    /*    height: 80px;*/
    /*    width: 80px;*/
    /*}*/

    .overview-main-footer-top h3 {
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: 36px;
    }

    .built-around, .supporting-resources {
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: 36px; /* 128.571% */
    }

    /*.resource-card svg {*/
    /*    height: 200px;*/
    /*    width: 200px;*/
    /*}*/

}
